################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LandingPage/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/LandingPage/FileContentIndex
